#features div.unslider nav ol,
#features div.unslider nav ul,
#features div.unslider nav li {
	list-style: none;
    margin: 0px;
    padding: 0px;
    border: none;
    display: none;
}

ul, menu, dir {
	padding-left: 0px;
}

.ct-iconBox.ct-iconBox--type1 img.grayscale {
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
    opacity: 0.6;
}

.ct-iconBox.ct-iconBox--type1 img.grayscale:hover {
    -webkit-filter: grayscale(0%); /* Safari 6.0 - 9.0 */
    filter: grayscale(0%);
    opacity: 1;
}

.specsBoitier {
	margin: 0 auto;
	text-align: center;
	color: white;
	font-size: medium;
	width: 80%;
}

.specsBoitier tr td {
	padding-top: 20px;
	padding-bottom: 20px;
	border-bottom: gray solid 0.5px;
	padding-right: 40px;
	padding-left: 40px;
	width: 50%;
}

.specsBoitier tr:last-child td {
	border-bottom: none;
}

.specsBoitier tr td:first-child {
	text-align: right;
	border-right: gray solid 0.5px;
}

.specsBoitier tr td:last-child {
	text-align: left;
	font-weight: bold;
}

.movingBoxIndicator {
	-webkit-transition: padding-left 0.9s ease-in-out 0s, padding-right 0.9s ease-in-out 0s;
	transition: padding-left 0.9s ease-in-out 0s, padding-right 0.9s ease-in-out 0s;
}

.movingBoxIndicator.left {
	padding-right: 75%;
	padding-left: 0%;
}

.movingBoxIndicator.center {
	padding-right: 10%;
	padding-left: 0%;
}

.movingBoxIndicator.right {
	padding-right: 0%;
	padding-left: 60%;
}

.ct-iconBox.ct-iconBox--type1.selected .ct-iconBox-icon {
  background-color: #00bcdf;
  color:white;
}


.form-group .ct-product-title .description .selectize-control .selectizeSelects {
	width: 70%;
}

.selectize-control.selectizeSelects.single.largeInput {
	width: 300px;
	-webkit-transition: width 0.3s ease-in-out;transition: width 0.3s ease-in-out;
}

#progressHpNm .progress-bar {
    -webkit-transition: width 2s ease;
    transition: width 2s ease
}

.ct-header.darken {
	box-shadow: 0 0 0 1000px rgba(0,0,0,0.6) inset;
}


.panel-default > .panel-heading .collapsed:before,
.panel-default > .panel-heading a.collapsed {
	color:black !important;
	font-weight: 200 !important;
}

.panel-default > .panel-heading :before,
.panel-default > .panel-heading a{
	color:#00bcdf !important;
	font-weight: 900 !important;
}

body.ct-menu-effect .navbar-beacon li a:hover {
	background-color: #00bcdf;
	color: white;
}

.navbar.navbar-default.navbar-light.navbar-desktop.navbar--animated.navbar-top .navbar-brand {
	opacity: 0;
}

.navbar.navbar-default.navbar-light.navbar-desktop.navbar--animated.navbar-top.animated-init.navbar-fixed .navbar-brand {
	opacity: 1;
	transition: opacity 1s linear;
}

.navbar.navbar-default.navbar-light.navbar-desktop.navbar--animated.navbar-top.animated-init.navbar-fixed {
	border-bottom: 1px solid #00bcdf;
}

.btn.btn-xs.btn-transparent.btn--white.btn-separated.blueBackground:hover {
	background-color: #00bcdf;
	color: white;
	border-color:#00bcdf; 
}

.bottomLineBlue {
	border-bottom: 2px solid #00bcdf;
}

.bottomLineBlueTight {
	border-bottom: 1px solid #00bcdf;
}

.selectVehicle404noPaddingTop section {
	padding-top: 30px !important;
}

.btnBlueCustom {
	background-color: #00bcdf;
	color:white;
}

#order .value {
	color:white;
	font-size: large;
	padding: 10px;
	
}

#order .ct-iconBox.ct-iconBox--type5.ct-u-margin-bottom-20.ct-iconBox--variant {
	padding-top: 20px;
	padding-bottom: 20px;
}

#order .ct-iconBox.ct-iconBox--type5.ct-u-margin-bottom-20.ct-iconBox--variant.selected{
	border-color: #00bcdf;
	border-width: 1px;
}

#order .ct-iconBox.ct-iconBox--type5.ct-u-margin-bottom-20.ct-iconBox--variant:hover {
	border: 1px solid #343434;
	color : #343434;
	background-color: transparent;
}

#order .ct-iconBox.ct-iconBox--type5.ct-u-margin-bottom-20.ct-iconBox--variant.selected:hover {
	color : #343434;
	background-color: transparent;
	border: 1px solid #00bcdf;
}

#order .ct-iconBox.ct-iconBox--type5.ct-iconBox--variant:hover .ct-iconBox-icon {
	color: #343434;
}

#order .ct-iconBox.ct-iconBox--type5.ct-iconBox--variant.selected .ct-iconBox-icon {
	color: #00bcdf;
}

#payment table#total {
	margin: auto;
	font-size: medium;
}

#payment table#total tr td {
	padding: 15px 110px 15px 20px;
}

#payment table#total tr td:last-child {
	padding-right: 20px;
}

#payment table#total tr td:first-child {
	border-right: 1px solid #1a1a1a;
}

#payment table#total tr.topBorder{
	border-top: 1px solid #1a1a1a;
}

p.border-top-bottom-color {
	border-top: 1px solid #00bcdf;
	border-bottom: 1px solid #00bcdf;
}