RewriteEngine On
RewriteRule ^pedalbox.html$ index.php?page=pedalbox [L]
RewriteRule ^powerbox.html$ index.php?page=powerbox [L]
RewriteRule ^page_introuvable.html$ index.php?page=not_found [L]
RewriteRule ^([^/]*)\.html$ index.php?page=vehicle&description=$1 [L]